.bar-header .item-input{
	background-color:transparent;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border:0 0 0 1;
	border-color:#00ff00;
}

.page-search.card{
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
		
}
