<ion-view view-title="微信">
  <ion-content class=" has-header">
    <ion-list>
	   <ion-item class="item-button-left" >
	    <button class="button button-clear" style="background-image:url('modules/address/img/a_1.png');background-size: 32px 32px;"></button>
		    新的朋友
	   </ion-item>
	   <ion-item class="item-button-left" >
	    <button class="button button-clear" style="background-image:url('modules/address/img/a_9.png');background-size: 32px 32px;"></button>
		    群聊
	   </ion-item>
	   <ion-item class="item-button-left" >
	    <button class="button button-clear" style="background-image:url('modules/address/img/a_c.png');background-size: 32px 32px;"></button>
		    标签
	   </ion-item>
	   <ion-item class="item-button-left" >
	    <button class="button button-clear" style="background-image:url('modules/address/img/a_7.png');background-size: 32px 32px;"></button>
		    公众号
	   </ion-item>
	   
	   <ion-item class="item-divider" >企业号</ion-item>
		<ion-item class="item-thumbnail-left"  ng-repeat="item in items">
		   <img ng-src="{{item.img}}" >
		   <h2 style="padding-top:10px">{{item.title}} </h2>
		</ion-item>
		
    	<ion-item class="item-divider" >公众号</ion-item>
		<ion-item class="item-thumbnail-left"  ng-repeat="item in items">
		   <img ng-src="{{item.img}}" >
		   <h2 style="padding-top:10px">{{item.title}} </h2>
		</ion-item>
		
	</ion-list>
  </ion-content>
</ion-view>
